// Main color
$default-color           : #ffffff; // WHITE
$default-color-primary	 : #221E1F; // BLACK
$default-color-secondary : #000000; // dark
$color-primary           : #05ACE2; // BLUE
$color-secondary         : #363233; // BLACK2

$rare-color    			 : #999797; // GRAY
$rare-color-primary      : #F8F8F8; // GRAY 2
$rare-color-secondary    : #F1F1F1; // BG 2

// $success-color           : #26de81;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;
// $light-color             : #999999;
// $purple-color            : #8854d0;

// // Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// // Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;